body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

header {
  position: fixed;
  top: 0;
  width: 100%
  background: white;
  text-align: center;
  padding: 25px o 15px;
}


h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 15px
  color: #333;
}

.subtitulo {
  font-size: 1.2rem;
  font-weight: normal;
  color: #555;
  margin-top: 8px;
}

.rainbow-icon {
  width: 50px;
  height: 50px;
}


#status {
  margin-top: 20px;
  color: #666;

}
